

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}view_enquries{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold">View Enquries</h1>
<div class="min-h-screen my-2 container-fluid">
  
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark text-center">
          <th>#</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Contact No.</th>
          <th> Email Address</th>
          <th>Enquiry Text</th>
          <th>Enquiry Date</th>
        </tr>
      <tbody class="bg-blue-100">
        
        <tr class="text-center">
          <td>1</td>
          <td>Diploma</td>
          <td>Computer Science</td>
          <td>First Year</td>
          <td>C Language</td>
          <td>Python</td>
          <td>Python</td>
          <td><a href="Python.png">python.pnt</a></td>
          
        </tr>
       
      </tbody>
      </thead>
    </table>
</div>
{% endblock %}
{% block js %}{% endblock %}